<!-- 
 * Name: Yin Tung Ng
 * Student #: 991602581
 * Assignment: Final Exam
 * Course: PROG32758 - Java 3
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" media="all" href="../../static/css/admin.css"
  th:href="@{/css/admin.css}" />
<title>Guess That Movie</title>
</head>
<body>

  <div class="div-center box">
    <h1>Admin Page</h1>
    <h2>Movie Table</h2>

    <table border="2">
      <tr>
        <th>Movie Id</th>
        <th>Movie Name</th>
      </tr>

      <tr th:each="movie : ${movies}">
        <td th:text="${movie.movieId}"></td>
        <td th:text="${movie.movieName}"></td>
        <td>
          <a href="#" th:href="@{/admin/editmovie/{id}(id=${movie.movieId})}">EDIT</a>
        </td>
        <td>
          <a href="#" th:href="@{/admin/deletemovie/{id}(id=${movie.movieId})}">DELETE</a>
        </td>
      </tr>
    </table>

    <br>
    <form action="#" th:action="@{/admin/addmovie}" method="GET">
      <input class="button" type="submit" value="Add Movie" />
    </form>
    <br>
    <form action="#" th:action="@{/admin}" method="GET">
      <input class="button" type="submit" value="Back" />
    </form>
  </div>

</body>
</html>