<!-- 
 * Name: Yin Tung Ng
 * Student #: 991602581
 * Assignment: Final Exam
 * Course: PROG32758 - Java 3
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" media="all" href="../static/css/styles.css"
  th:href="@{/css/styles.css}" />
<title>Registration</title>
</head>
<body>

  <h1>Registration Page</h1>
  <div class="box div-center">

    <br>
    <form th:action="@{/register}" method="POST">

      <div th:if="${nameTaken}">
        <div class="alert">** Name already taken. Try another name. **</div>
        <br>
      </div>

      <label for="username">Username:</label>
      <input type="text" id="name" name="name" placeholder="Username" autofocus required>
      <br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" required>
      <br>
      <br>
      <input class="button2" type="submit" name="login-submit" value="Register">
    </form>
    
    <br>
    <br>
    <a class="button" th:href="@{/}">Return to Home</a>
    <br>
    <br>
  </div>
</body>
</html>