<!-- 
 * Name: Yin Tung Ng
 * Student #: 991602581
 * Assignment: Final Exam
 * Course: PROG32758 - Java 3
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" media="all" href="../../static/css/styles.css"
  th:href="@{/css/styles.css}" />
<title>Access Denied</title>
</head>
<body>
  <div class="div-center box">
    <h1 class="alert">Access Denied!</h1>

    <p>Only administrators are allowed to access this page.</p>

    <form action="#" th:action="@{/}" method="GET">
      <input class="button" type="submit" value="Go Home" />
    </form>
  </div>
</body>
</html>